@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>一个简易的网盘验证模型 具有以下功能： <ol><li>auth1.0验证 </li><li>版本管理 </li><li>并发控制 </li><li>多客户端 </li></ol></p><p>目前实现: <ol><li>ASP.NET MVC Based Server side </li><li>Pure Win32 Based Client(currently avaliable under OS win7) </li></ol></p>
